.benefits-list {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.benefits-item {
  width: 270px;
}
.benefits-icons {
  height: 120px;
  padding: 25px 100px;
  margin-bottom: 30px;

  background: #f5f4fa;
  border-radius: 4px;
}

.benefit {
  margin-top: 0;
  margin-bottom: 0;
  width: inherit;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
