.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 0;
  background-color: var(--secondary-bkg-color);
}
.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__left-part {
  margin-right: 70px;
  width: 231px;
}

.footer__address {
  margin-top: 20px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer__list {
  display: block;
}
.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__link {
  color: rgba(255, 255, 255, 0.6);
  width: 231px;
  height: 21px;
}

.footer__social-networks {
  margin-top: 12px;
  margin-right: 93px;
}
.footer__title-third {
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--secondary-text-color);
}
