.logo {
  display: block;
  width: 145px;
  height: 31px;

  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  color: var(--accent-color);
  text-decoration: none;
  letter-spacing: 0.03em;
  span {
    color: #000000;
  }
}
