.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  margin-left: 93px;
  .link {
    display: block;
    margin-top: 32px;
    margin-bottom: 32px;

    letter-spacing: 0.02em;
    color: var(--titel-text-color);
  }
}
.nav-item {
  position: relative;

  display: flex;
  flex-direction: column;
  &:not(:last-child) {
    margin-right: 50px;
  }
}
