%emphasis {
  position: absolute;
  bottom: -1px;

  content: "";
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
.navigation {
  display: flex;
  align-items: center;
}

.navigation__list {
  margin-left: 93px;
}
.navigation__item {
  position: relative;

  display: flex;
  flex-direction: column;
  color: var(--titel-text-color);
  &:not(:last-child) {
    margin-right: 50px;
  }
  &--current {
    color: var(--accent-color);
    &::after {
      @extend %emphasis;
      width: 48px;
    }
  }
  &--current-bigger {
    color: var(--accent-color);
    &::after {
      @extend %emphasis;
      width: 78px;
    }
  }
}
.navigation__link {
  display: block;
  margin-top: 32px;
  margin-bottom: 32px;

  letter-spacing: 0.02em;
  color: inherit;
}
